body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*leaflet{
    width:700px;
    height:350px;
}*/
#mapContainer{
    margin-top:5%;
    height:700px;
}

/*Popovers*/
#regionInfoPopUp {
    position:absolute;
    display:none;
    background:#fff;
    border: 1px solid #999;
    padding:10px;
    width:auto;
    box-shadow:0 0 10px rgba(0, 0, 0, .5);
    min-width:320px;
    min-height:380px;
    max-height:400px;
}
#regionInfoPopUp:after, #regionInfoPopUp:before {
    right: 100%;
    border: solid transparent;
    content:" ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
#regionInfoPopUp:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #ffffff;
    border-width: 10px;
    top: 50%;
    margin-top: -10px;
}
#regionInfoPopUp:before {
    border-color: rgba(201, 201, 201, 0);
    border-right-color: #c9c9c9;
    border-width: 11px;
    top: 50%;
    margin-top: -11px;
}

/*MapPopOver*/

#mapPopOver {
    position:absolute;
    /*display:none;*/
    background:#fff;
    border: 1px solid #999;
    padding:10px;
    box-shadow:0 0 10px rgba(0, 0, 0, .5);
    width: 270px;
    height: 270px;
}
#mapPopOver:after, #mapPopOver:before {
    /*right: 100%;*/
    border: solid transparent;
    content:" ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
#mapPopOver:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #ffffff;
    border-width: 10px;
    top: 50%;
    /*margin-top: -10px;*/
}
#mapPopOver:before {
    border-color: rgba(201, 201, 201, 0);
    border-right-color: #c9c9c9;
    border-width: 11px;
    top: 50%;
    /*margin-top: -11px;*/
}

#popOverHeader, #popOverHeader span{
    height: 30px;
}

#popOverFooter{
}
/*end popovers*/


table td span{
    margin-top:20px;
}

#mainLocContainer{
    background-color: white;
}

#locationContainer{
    background-color:lightgreen;
    border-radius: 20px;
    margin-top: 30px;
}
#inputPanel{
    margin-top: 30%;
}

#locationContainer ul li{
    background-color: lightskyblue;
    color:white;
    font-size: 10pt;
}

#locationContainer span{
    margin-top: 20px;
    font-size: 2em;
    margin: auto;
}

#locationContainer .row div :hover{
    background-color: azure;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}



/*Animation*/

.cssload-container {
	width: 20px;
	height: 20px;
	text-align: center;
}

.cssload-tube-tunnel {
	width: 20px;
	height: 20px;
	margin-left: 20px;
    /*margin-top: 20px;*/
	border: 4px solid;
	border-radius: 50%;
	border-color: rgb(0,0,0);
	animation: cssload-scale 1035ms infinite linear;
		-o-animation: cssload-scale 1035ms infinite linear;
		-ms-animation: cssload-scale 1035ms infinite linear;
		-webkit-animation: cssload-scale 1035ms infinite linear;
		-moz-animation: cssload-scale 1035ms infinite linear;
}



@keyframes cssload-scale {
	0% { transform: scale(0); transform: scale(0); }
	90% { transform: scale(0.7); transform: scale(0.7); }
	100% { transform: scale(1); transform: scale(1); }
}

@-o-keyframes cssload-scale {
	0% { -o-transform: scale(0); transform: scale(0); }
	90% { -o-transform: scale(0.7); transform: scale(0.7); }
	100% { -o-transform: scale(1); transform: scale(1); }
}

@-ms-keyframes cssload-scale {
	0% { -ms-transform: scale(0); transform: scale(0); }
	90% { -ms-transform: scale(0.7); transform: scale(0.7); }
	100% { -ms-transform: scale(1); transform: scale(1); }
}

@-webkit-keyframes cssload-scale {
	0% { -webkit-transform: scale(0); transform: scale(0); }
	90% { -webkit-transform: scale(0.7); transform: scale(0.7); }
	100% { -webkit-transform: scale(1); transform: scale(1); }
}

@-moz-keyframes cssload-scale {
	0% { -moz-transform: scale(0); transform: scale(0); }
	90% { -moz-transform: scale(0.7); transform: scale(0.7); }
	100% { -moz-transform: scale(1); transform: scale(1); }
}

