
@{
    ViewBag.Title = "AllLocations";
}

@section HeadScripts{
    <script src="~/Scripts/pages/locations/sortable.js"></script>
}

<div ng-controller="locationsController" class="container" id="mainLocContainer">
    <div class="row">
        <div class="panel col-lg-4 col-md-4" id="inputPanel">
            <form class="input-group">
                <div class="form-group">
                    <label>
                        <select id="cauntries" class="form-control input-lg" ng-model="currentCountry">
                            <option ng-repeat="country in countries">
                                {{country}}
                            </option>
                        </select>
                    </label>
                </div>
                <div class="form-group">
                    <button class="btn btn-default btn-lg" ng-click="getPage(null, currentCountry)">Search</button>
                </div>
            </form>
        </div>
        <div class="col-lg-8 col-md-8 text-center" id="sortable">
            <div id="locationContainer" ng-repeat="location in allLocations" class="panel panel-body ui-state-default" ng-dblclick="getMap(location.Lattitude, location.Longitude)">
                <div class="row">
                    <h3 class="text-left text-info col-lg-10 col-md-10">{{location.Country + " " + location.Time}}</h3>
                    <div class="col-lg-2 col-md-2">
                        <span class="glyphicon glyphicon-map-marker" ng-click="showMap($event, location);"></span>
                    </div>
                </div>
                <div>
                    <ul class="list-unstyled">
                        <li class="list-group-item">Description: {{location.Description}}</li>
                        <li class="list-group-item">Humidity: {{location.Humidity}}</li>
                        <li class="list-group-item">Lattitude: {{location.Lattitude}}</li>
                        <li class="list-group-item">Longitude: {{location.Longitude}}</li>
                        <li class="list-group-item">Pressure: {{location.Pressure}}</li>
                        <li class="list-group-item">Temperature: {{location.Temperature}}</li>
                        <li class="list-group-item">Wind speed: {{location.WindSpeed}}</li>
                    </ul>
                </div>
            </div>
            <ul class="pagination"><li ng-repeat="n in [] | range:allPages"><a href="#" ng-click="getPage($index + 1)">{{$index + 1}}</a></li></ul>
        </div>
    </div>
    <div id="mapPopOver" ng-show="isMapVisible" ng-mouseenter="zoomInMap()" ng-mouseleave="zoomOffMap()">
        <leaflet center="mapCenter" markers="markers" style="width: 100%;height:100%;"></leaflet>
    </div>
</div>

@section FootScripts{
    <script src="~/Scripts/pages/locations/rangeFilter.js"></script>
    <script src="~/Scripts/pages/locations/locationsService.js"></script>
    <script src="~/Scripts/pages/locations/locationsController.js"></script>
}